<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

My Jupyter Notebook on IBM Watson Studio

**S. A. Mardan**

current occupation is techer and  desired occupation is data scientist

_I am interested in data science because I want to connect my current research of general relativity with data science_

### In next cell i will do 1+1

In [ ]:
1+1

2

-1 -2-3
- Item 1
- Item 2
- Item 3
1. First item
2. Second item
3. Third item